#background {
  background-image: linear-gradient(
    99deg,
    #ff70a6,
    #ff9770 40%,
    #ffd670 73%,
    #e9ff70
  );
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#center-block {
  display: flex;
  justify-content: center;
  flex-direction: column;

<<<<<<< HEAD:sim-3/src/Login.css
  align-items: center;
  width: 500px;
  height: 390px;
  border-radius: 6px;
  box-shadow: 0px 8px 20px #403d39;
=======
#center-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 390px;
    border-radius: 6px;
    box-shadow: 0px 8px 15px #403D39
>>>>>>> master:sim-3/src/Components/Login/Login.css
}
img {
<<<<<<< HEAD:sim-3/src/Login.css
  height: 120px;
  width: 120px;
  margin-bottom: 15px;
=======
    height: 120px;
    width: 120px;
    margin-bottom: 10px
>>>>>>> master:sim-3/src/Components/Login/Login.css
}

#helo {
  height: 120;
  width: 250;
  font-size: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  color: #f2f2f2;
}
#button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 300px;
  background: #403d39;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 20px;
}
